// files
*.txt
*.rds
*.zip
*.pdf
*.xlsx
*.csv
*.html
*.feather
*.pkl
*.pt
*.tgz
*.json
*.mtx
*.parquet
*.pa
*.ckpt
*.sas7bdat
*.spacy
ddp.log
!split_dates.csv


// folders
neat-vision
/__pycache__
/earnings-call
/xiao/data
/xiao/checkpoint
/yifan
/.data
/.ipynb_checkpoints
/writing
/data/CAR/.ipynb_checkpoints
/data/factiva-transcripts
/data/finBERT
/data/WRDS-download
/data/bench_financial_ratio_files
/data/ciq-transcripts
/data/imdb5k
/data/factiva-headlines
/data/factiva-transcripts
/data/ldamodel
/data/nlp_*
/data/r2_all_files
/data/seeking-alpha-cc-example
/data/WRDS-transcript-demo
/lightning_logs
/MNIST
